img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px 2.5px #f1f0f0;
}

button {
  background-color: rgb(29, 228, 102);
  width: 100%;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.content {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

button:hover {
  background-color: rgb(29, 200, 102);
}
