.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5%;
  height: 5%;
  color: #fff;
}
span {
  font-size: xx-large;
  font-weight: bold;
}
.icon:hover {
  cursor: pointer;
}
